@font-face {
  font-family: "Sora";
  src: url("./fonts/Sora-Bold.ttf");
}

.container1 {
  max-width: 1440px;
  margin: auto;
  padding: 24px 80px 24px 80px;
}

.nav-link {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: black;
  font-family: "Sora";
}

.navbar-nav {
  gap: 32px;
}

.collapse {
  padding-left: 227px;
}

.nav-btn {
  width: 153px;
  height: 56px;
  color: white;
  background-color: black;
  font-weight: 600;
  font-size: 20px;
  font-family: "Sora";
  border-radius: 4px;
}

.nav-button-all {
  padding-left: 227px;
}

.nav-btn:hover {
  background-color: #404040;
  transition: 0.5s;
  border: #404040;
}

/* Navbar finished */

/* section-1 started  */

.container2 {
  max-width: 1440px;
  margin: auto;
  padding: 60px 80px 60px 80px;
}

.section-1-left-allBox {
  padding-top: 110px;
}

.section-1-left-h1 {
  font-weight: normal;
  font-size: 48px;
  line-height: 70px;
  font-family: "Sora";
  color: black;
  font-family: "ExtraLight 100";
  margin: 0;
}
#Developer {
  color: white;
  text-shadow: -3px -2px 0 #000, 1px -3px 0 #000, -3px 1px 0 #000,
    1px 3px 0 #000;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  font-family: "Sora";
}

.section-1-left-span {
  font-weight: 800;
  font-size: 48px;
  line-height: 56px;
  font-family: "Sora";
}

.section-1-left-p {
  font-family: Sora;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #71717a;
  margin: 0;
}

.section-1-left {
  width: 580px;
}

.section-1-left-center {
  width: 585px;
  padding-top: 32px;
}

.section-1-left-bottom {
  padding-top: 98px;
}

.section-1-left-bottom .Fbook,
.Social,
.Tweeter {
  padding-right: 40px;
}

.section-1-left-allBox {
  position: relative;
}

.section-1-right {
  position: absolute;
  left: 535px;
  bottom: -65px;
}

/* section-1 finished  */

/* section-2 started  */

.container3 {
  max-width: 1440px;
  margin: auto;
  padding: 60px 80px 60px 80px;
}

.section-2-h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  font-family: "Sora";
  color: black;
  font-family: "ExtraLight 100";
  margin: 0;
  text-align: center;
  padding-bottom: 80px;
}

.section-2-span {
  font-weight: 800;
  font-size: 48px;
  line-height: 56px;
  font-family: "Sora";
}

.section-2-top-flexbox-VectorBox {
  border: 2px solid black;
  width: 186px;
  height: 186px;
  border-radius: 4px;
  text-align: center;
  padding-top: 37px;
}

.VectorBox-h5 {
  font-family: "Sora";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  padding-top: 32px;
}

.section-2-top-flexbox-ScriptBox {
  width: 186px;
  height: 186px;
  background-color: black;
  text-align: center;
  padding-top: 32px;
  border-radius: 4px;
}

.ScriptBox-h5 {
  font-family: "Sora";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: white;
  padding-top: 32px;
}

.section-2-top-flexbox {
  gap: 107px;
  padding-bottom: 40px;
}

.section-2-bottom-flexbox {
  gap: 107px;
  padding-bottom: 20px;
}

/* section-2 finished  */
/* section-3 started  */
.bg {
  background-color: #000;
}

.container4 {
  max-width: 1440px;
  padding: 60px 80px;
  margin: auto;
}

.section-3-h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  font-family: "Sora";
  color: white;
  font-family: "ExtraLight 100";
  margin: 0;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.section-3-span {
  font-family: "Sora";
  font-size: 48px;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: -0.02em;
}

.section-3-all {
  padding: 56px 56px 0 56px;
}

.section-3-google {
  border: 1px solid #71717a;
  border-radius: 10px;
  width: 1168px;
  height: 192px;
  padding: 30px 24px;
  margin-bottom: 32px;
}

.section-3-google-top {
  display: flex;
  align-items: center;
}

.section-3-google-top-h3 {
  font-family: "Sora";
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  margin: 0;
  color: white;
  padding-left: 30px;
}

.section-3-google-top-p {
  font-family: "Sora";
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: #d4d4d8;
  margin: 0;
  padding-left: 477px;
}

.section-3-google-bottom {
  width: 1100px;
  padding-top: 28px;
}

.section-3-google-bottom-p {
  font-family: "Sora";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  color: #d4d4d8;
}

.section-3-Youtube {
  border: 1px solid #71717a;
  background: var(--Zinc-800, #27272a);
  border-radius: 10px;
  width: 1168px;
  height: 192px;
  padding: 30px 24px;
  margin-bottom: 32px;
}

.section-3-Youtube-top {
  display: flex;
  align-items: center;
}

.section-3-Youtube-top-h3 {
  font-family: "Sora";
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  margin: 0;
  color: white;
  padding-left: 30px;
}

.section-3-Youtube-top-p {
  font-family: "Sora";
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: #d4d4d8;
  margin: 0;
  padding-left: 520px;
}

.section-3-Youtube-bottom {
  width: 1100px;
  padding-top: 28px;
}

.section-3-Youtube-bottom-p {
  font-family: "Sora";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  color: #d4d4d8;
}

.section-3-Apple {
  border: 1px solid #71717a;
  border-radius: 10px;
  width: 1165px;
  height: 192px;
  padding: 30px 24px;
  margin-bottom: 32px;
}

.section-3-Apple-top {
  display: flex;
  align-items: center;
}

.section-3-Apple-top-h3 {
  font-family: "Sora";
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  margin: 0;
  color: white;
  padding-left: 30px;
}

.section-3-Apple-top-p {
  font-family: "Sora";
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: #d4d4d8;
  margin: 0;
  padding-left: 465px;
}

.section-3-Apple-bottom {
  width: 1100px;
  padding-top: 28px;
}

.section-3-Apple-bottom-p {
  font-family: "Sora";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  color: #d4d4d8;
}
/* section-3 finished  */

/* section-4 started  */

.container5 {
  max-width: 1440px;
  margin: auto;
  padding: 60px 80px;
}

.section-4-all {
  display: flex;
  justify-content: space-between;
  padding: 0 32px;
  gap: 85px;
}

.section-4-right-h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  font-family: "Sora";
  color: black;
  font-family: "ExtraLight 100";
  margin: 0;
  padding: 25px 0;
}

.section-4-right-span {
  font-family: "Sora";
  font-size: 48px;
  font-weight: 800;
  line-height: 56px;
  color: #000;
  margin: 0;
  padding: 25px 0;
}

.section-4-right-p1,
.section-4-right-p2,
.section-4-right-p3 {
  font-family: "Sora";
  font-family: "Sora";
  font-family: "Sora";

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #71717a;
}

/* section-4 finished  */
/* section-5-started  */

.container6 {
  max-width: 1440px;
  margin: auto;
  padding: 60px 80px;
}

.section-5-h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  font-family: "Sora";
  color: white;
  font-family: "ExtraLight 100";
  margin: 0;
  text-align: center;
  padding-bottom: 20px;
}

.section-5-span {
  font-family: "Sora";
  font-size: 48px;
  font-weight: 800;
  line-height: 56px;
  color: white;
  margin: 0;
}

.section-5-crypto-img {
  /* border: 1px solid red; */
  padding: 39px 65px 39px 0;
}

.section-5-crypto {
  display: flex;
  align-items: center;
  gap: 40px;
}

.section-5-crypto-right {
  /* border: 1px solid blue; */
  width: 580px;
}

.section-5-crypto-right-h2 {
  font-family: "Sora";
  font-size: 48px;
  font-weight: 800;
  line-height: 56px;
  color: white;
  margin: 0;
  padding-bottom: 28px;
}

.section-5-crypto-right-h3 {
  font-family: "Sora";
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  color: white;
  margin: 0;
  padding-bottom: 28px;
}

.section-5-crypto-right-p {
  font-family: "Sora";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #71717a;
  padding-bottom: 28px;
}

.section-5-euphoria {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 20px;
}

.section-5-euphoria-left {
  /* border: 1px solid blue; */
  width: 570px;
}

.section-5-euphoria-left-h2 {
  font-family: "Sora";
  font-size: 48px;
  font-weight: 800;
  line-height: 56px;
  color: white;
  margin: 0;
  padding-bottom: 28px;
}

.section-5-euphoria-left-h3 {
  font-family: "Sora";
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  color: white;
  margin: 0;
  padding-bottom: 28px;
}

.section-5-euphoria-left-p {
  font-family: "Sora";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #71717a;
  padding-bottom: 28px;
}

/* section-5 finished  */
/* section-6-started  */

.container-7 {
  max-width: 1440px;
  margin: auto;
  padding: 60px 80px;
}

.section-6-h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  font-family: "Sora";
  color: black;
  font-family: "ExtraLight 100";
  margin: 0;
  text-align: center;
  padding-bottom: 20px;
}

.section-6-span {
  font-family: "Sora";
  font-size: 48px;
  font-weight: 800;
  line-height: 56px;
  color: black;
  margin: 0;
}

.section-6-leftBox {
  width: 370px;
  height: 398px;
  border: 1px solid #ffffff;
  text-align: center;
  padding: 40px;
  box-shadow: 10px 10px 12px 1px #18274b14;
  box-shadow: 1px 10px 12px 8px #18274b1f;
  border-radius: 20px;
}

.section-6-leftBox-p1 {
  font-family: "Sora";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #404040;
  padding-top: 24px;
  margin: 0;
}

.section-6-leftBox-div {
  width: 120px;
  height: 2px;
  background-color: black;
  margin-left: 80px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.section-6-leftBox-h3 {
  font-family: "Sora";
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #404040;
}

.section-6-leftBox-p2 {
  font-family: "Sora";
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #71717a;
}
